<% provide(:title, 'All Shops') %>
<h1> Shop </h1>
<button class="btn btn-outline-primary"><%= link_to 'New User', new_shop_path %></button>

<table class="table mt-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Image</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Tax_code</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @shop.each do |shop| %>
    <tr>
      <td><%= shop.id %></td>
      <td><%= shop.name %></td>
      <td><%= shop.email %></td>
      <td><%= gravatar_for shop, size: 40 %></td>
      <td><%= shop.phone %></td>
      <td><%= shop.address %></td>
      <td><%= shop.tax_code %></td>

      <td>
        <button type="button" class="btn btn-success"><%= link_to 'Show', shop %></button>
        <button type="button" class="btn btn-warning"><%= link_to 'Edit', edit_shop_path(shop) %></button>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<%#= will_paginate %>
