<% provide :title, "order detail"%>

<div class="container">
  <h1 class="title">Thông tin đơn hàng</h1>
  <div class="info-order row" style="margin-bottom: 20px; margin-top: 20px; background-color: #0B0B3B; color: white; padding: 2px">
    <div class="col-md-6">
      <div class="detail-order" style="font-size: 16px">
        <b style="margin-right: 5px">Đơn hàng:</b>
        <span>#<%= @order.tax_code %></span>
      </div>
      <div class="detail-order" style="font-size: 12px;">
        <i style="margin-right: 5px">Ngày đặt:</i>
        <i><%= Date.parse((@order.created_at).to_s) %> <%= (@order.created_at).strftime('%T') %></i>
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-customer" style="font-size: 16px; float: right; margin-top: 10px">
        <b style="margin-right: 5px">Tổng tiền:</b>
        <span style="color: chartreuse "><%= number_to_currency @order.sub_total %></span>
      </div>
    </div>
  </div>
  <div class="content row">
    <div class="info-customer col-md-4">
     <p style="color: red; font-size: 20px; font-weight: 700"> Thông tin khách hàng  </p>

      <div class="detail-customer" style="font-size: 16px">
        <b style="margin-right: 5px">Họ & tên:</b>
        <span><%= @order.name %></span>
      </div>
      <div class="dropdown-divider" style="margin-bottom: 20px"></div>

      <div class="detail-customer" style="font-size: 16px">
        <b style="margin-right: 5px">Email:</b>
        <span><%= @order.email %></span>
      </div>
      <div class="dropdown-divider" style="margin-bottom: 20px"></div>

      <div class="detail-customer" style="font-size: 16px">
        <b style="margin-right: 5px">SDT:</b>
        <span><%= @order.phone %></span>
      </div>
      <div class="dropdown-divider" style="margin-bottom: 20px"></div>

      <div class="detail-customer" style="font-size: 16px">
        <b style="margin-right: 5px">Địa chỉ:</b>
        <span><%= @order.address %></span>
      </div>
      <div class="dropdown-divider" style="margin-bottom: 20px"></div>
    </div>
    <div class="info-products col-md-8">
      <p style="color: red; font-size: 20px; font-weight: 700; float: right"> Thông tin sản phẩm  </p>
      <table class="table mt-5">
        <thead style="background-color: #0B0B3B; color: white">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Product</th>
          <th scope="col">Image</th>
          <th scope="col">Quantity</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        <% @order.cart_items.each do |ct| %>
          <tr>
            <th scope="row" style="height: 100px; padding-top: 40px"><h4><%= ct.id %></h4></th>
            <td style="height: 100px; padding-top: 40px"><h4><b><%= ct.product.name %></b></h4></td>
            <td style="height: 100px; padding-top: 20px">
              <img src="<%= ct.product.images[0].img_src %>" style="width: 25% !important;">
            </td>
            <td style="height: 100px; padding-top: 40px"><h4><%= ct.quantity %></h4></td>
            <td style="height: 100px; padding-top: 40px"><h4 style="color: #0B0B3B; font-weight: 500"><%= number_to_currency ct.product.price %></h4></td>
            <td style="height: 100px; padding-top: 40px"><h4 style="font-weight: 700; color: red"><%= number_to_currency ct.total_price %></h4></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
