<% provide(:title, 'Categories') %>
<h1 class="title"> <span class="text-green">Categories</span> of <span class="text-pink"><%= @shop.name %></span></h1>
<button class="btn btn-outline-primary"><%= link_to 'New Category', new_category_url %></button>
<button type="button" class="btn btn-light"><%= link_to "Back", shop_url(@shop.id) %></button>

<table class="table mt-5">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |c| %>
    <tr>
      <td><%= c.id %></td>
      <td><%= c.name %></td>
      <td>
        <button type="button" class="btn btn-outline-success"><%= link_to 'Detail', c %></button>
        <% if check_shop_id?(@shop.id) %>
          <button type="button" class="btn btn-outline-danger"><%= link_to "Delete", c, method: :delete, data: { comfirm: "Are you want delete user?" } %></button>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
