<% provide(:title, 'Category') %>
</div>
<div class="container">
  <button type="button" class="btn btn-outline-info"><%= link_to "Back", categories_path %></button>
  <button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_category_url(@category) %></button>

  <h1 class="title">Category: <span style="color: deeppink"> <%= @category.name %></span> </h1>
  <div class="row">
    <h1> <span class="text-pink">Products</span> of <span class="text-green"> <%= @category.name %></span></h1>
  </div>
  <div class="row">
    <% @products.each do |p| %>
      <%= render "categories/product", product: p %>
    <% end %>
  </div>
</div>
