<div class="col-md-4 mb-5">
  <div class="card item-cart">
    <% if product.images.length > 0 %>
      <img src="<%= product.images[0].img_src %>" class="w-100" >
    <% else %>
      <img src="https://freshome.com/wp-content/uploads/2018/09/contemporary-exterior.jpg" class="w-100">
    <%end %>
    <div class="card-body">
      <div style="display: flex; justify-content: space-between">
        <h5 class="card-title text-green"><b><%= product.name %></b></h5>
        <p class="card-text"><b><span style="color: red">Price:</span> <%= product.price %> $ </b></p>
      </div>
      <p class="card-text">Description: <%= product.description %>.</p>
      <button type="button" class="btn btn-outline-info"><%= link_to "Detail", product %></button>
      <button class="btn">
        <%= button_to "Add Cart", cart_items_path(product_id: product.id), class: 'btn btn-small btn-outline-primary text-pink' %>
      </button>
      <% if check_shop_is_loggin?(current_shop) %>
        <button type="button" class="btn btn-outline-danger"><%= link_to "Delete", product, method: :delete, data: { confirm: "Are you want delete user?" } %></button>
      <% end %>
    </div>
  </div>
</div>
