<% provide(:title, 'Products By Shop') %>
<h1 class="title text-green">Products</h1>
<% if check_shop_is_loggin?(current_shop) %>
  <button class="btn btn-outline-info"><%= link_to 'New Product', new_product_url %></button>
<% end %>

<div class="row mt-5">
  <% @products.each do |p| %>
    <div class="col-sm-4">
      <div class="card mb-3 item-cart">
        <div class="row no-gutters">
          <div class="col-md-5 shop-cart">
            <% if p.images.length > 0 %>
              <img src="<%= p.images[0].img_src %>" width="100px" >
            <% else %>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2p0pc61zxvtknfuyVWI9bq52xVPFO5v72h1CMDNJjPIejCgHQ" width="100px" >
            <%end %>
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <h5 class="card-title"><%= p.name %></h5>
              <p class="card-text">Price: <%= p.price %></p>
              <p class="card-text"><small class="text-muted">Description: <%= p.description %></small></p>
<!--              <button type="button" class="btn btn-outline-success"><%#= link_to 'Detail', shop_product_path(p, shop_id: @shop.id) %></button>-->
              <button type="button" class="btn btn-outline-success"><%= link_to 'Detail', p %></button>
              <% if check_shop_is_loggin?(current_shop) %>
                <button type="button" class="btn btn-outline-danger"><%= link_to 'Delete', p, method: :delete, data: { confirm: "Are you want delete product"} %></button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <h5>  <%= paginate @products %> </h5>
</div>
